<div class="container mt-3">

    <div class="row">

        <h6><b>Ngrx State management</b> </h6>

        <div class="col bg-white ">

            <div class="card-title mt-5 mb-5">

                <div class="counter">Current Count: <span class="counter__number text-primary">{{ count$ | async
                        }}</span>
                    
                </div>

                <button class="button" (click)="increment()">Increment</button>

                <button class="button" (click)="decrement()">Decrement</button>

                <button class="button" (click)="reset()">Reset Counter</button>

            </div>

        </div>

  </div>
  
    </div>