<div class="container mt-3">

    <div class="row">

        <h6><b>Preventing cross-site scripting (XSS)</b> </h6>

        <div class="col bg-white ">

            <div class="card-title mt-5 mb-5">

                <h6>An untrusted URL:</h6>

                <p><a class="e2e-dangerous-url" [href]="dangerousUrl">Click me</a></p>

                <h6>A trusted URL:</h6>

                <p><a class="e2e-trusted-url" [href]="trustedUrl">Click me</a></p>

            </div>

        </div>

    </div>