<div class="dashboard-title mt-3 ">

  <h6><b>Communication between Components</b></h6>

</div>

<div class="container  ">

  <div class="row">

    <div class="col bg-white parent">

      <div class="card-title mt-5">

        <h6>Communicate between Parent to Child Component</h6>

        <app-parent></app-parent>

      </div>

      <br>
      <hr>

      <div>

        <h6>Communicate data between un related Components</h6>

      </div>

      <div class="d-flex justify-content-around mb-5">

        <app-component1></app-component1>

        <app-component2></app-component2>

        <app-component3></app-component3>

      </div>

    </div>

  </div>

</div>