<div class="sidenav">

  <a class="px-4" routerLink="./dashboard"><i class="bi bi-speedometer2"></i><span class="px-2">Communicate</span></a>

  <a class="px-4" routerLink="./store"><i class="bi bi-database"></i><span class="px-2">State</span></a>

  <a class="px-4" routerLink="./security"><i class="bi bi-shield-check"></i><span class="px-2">Security</span></a>

  <a class="px-4" routerLink="./lang-trans"><i class="bi bi-translate"></i><span class="px-2">Lang-trans</span></a> 

  <a class="px-4" routerLink="./apidata"><i class="bi bi-clipboard-data"></i><span class="px-2">ApiData</span></a> 
  
</div>